:root {
    --white: white;
    --black: black;
    --no_black: #16151C;
    --no_black_05: rgba(0, 0, 0, 0.5);
    --no_black_08: rgba(0, 0, 0, 0.8);
    --orange: orange;
    --orange_2: rgb(247, 206, 125);
    --red: red;
    --green: green;
}

#Project_1, #Project_2 {
    width: 100%;
    min-height: 89vh;
    height: auto;
    padding-top: 7em;
    padding-bottom: 5vh;
    padding-left: 10vh;
    padding-right: 5vh;
}

#Project_1 .accordion, #Project_2 .accordion {
    margin-top: 30px;
}

#Project_1 .accordion .accordion-item .accordion-header .accordion-button, #Project_2 .accordion .accordion-item .accordion-header .accordion-button {
    white-space: pre-line;
    background-color: var(--white);
    color: var(--black);
    box-shadow: none ;
    border: 1px solid var(--orange);
}

#Project_1 .accordion .accordion-item .accordion-collapse .accordion-body, #Project_2 .accordion .accordion-item .accordion-collapse .accordion-body{
    white-space: pre-line;
    background-color: var(--no_black);
    color: var(--white);
}

section .text_png {
    margin-top: 30px;
}

section .text_png p {
    white-space: pre-line;
    margin-bottom: 0;
}

section .text_png img {
    object-fit: contain;
    max-width: 100%;
}

#Project_1 p, #Project_2 p {
    white-space: pre-line;
    /* border: 1px solid var(--green ); */
}

@media (max-width: 720px) {
    #Project_1, #Project_2 {
        padding-top: 4.5em;
        padding-bottom: 5vh;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}